body{
margin:0;
padding:0;
font-family:sans-serif;
background:#000;
color:#fff;
}

header{
padding:20px;
text-align:center;
background:linear-gradient(
180deg,
#000,
#1a1a1a
);
}

h1{
color:#FFD700;
margin:0;
font-weight:900;
}

#searchBox{
width:90%;
max-width:400px;
padding:12px;
margin-top:15px;
border-radius:12px;
border:2px solid #FFD700;
background:#111;
color:#fff;
font-weight:bold;
}

#heroList,
#skinList{
display:grid;
grid-template-columns:
repeat(4,1fr);
gap:8px;
padding:8px;
}

.card{
background:#111;
border:2px solid #FFD700;
border-radius:12px;
overflow:hidden;

transition:
transform .15s ease,
box-shadow .15s ease;

cursor:pointer;
}

.card:active{

transform:scale(0.95);

}
.card:hover{
transform:scale(0.96);
}

.card img{
width:100%;
height:90px;
object-fit:contain;
background:#000;
padding:2px;
box-sizing:border-box;
}

.card-title{
padding:4px;
font-size:10px;
font-weight:700;
text-align:center;

white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}

.download-btn{

display:flex !important;

align-items:center;
justify-content:center;

width:75% !important;

margin:4px auto !important;

height:20px !important;

font-size:8px !important;
font-weight:700 !important;

background:#FFD700 !important;
color:#000 !important;

border-radius:999px !important;
border:1px solid #000 !important;

text-decoration:none !important;

padding:0 !important;

box-sizing:border-box;
}

#backBtn{
margin:15px;
padding:10px 15px;
background:#FFD700;
color:#000;
border:none;
font-weight:bold;
border-radius:12px;
}

/* ========================= */
/* TOUCH ANIMATION */
/* ========================= */

.download-btn,
#backBtn,
.card{

transition:
transform .15s ease,
filter .15s ease,
opacity .15s ease;

-webkit-tap-highlight-color: transparent;
user-select:none;

}

.download-btn:active,
#backBtn:active{

transform:scale(0.90);

filter:brightness(0.85);

}

.card:active{

transform:scale(0.95);

}

/* ========================= */
/* PAGE ANIMATION */
/* ========================= */

.page-enter{

animation:
pageEnter .25s ease;

}

.page-exit{

animation:
pageExit .20s ease;

}

@keyframes pageEnter{

from{

opacity:0;

transform:
translateX(25px);

}

to{

opacity:1;

transform:
translateX(0);

}

}

@keyframes pageExit{

from{

opacity:1;

transform:
translateX(0);

}

to{

opacity:0;

transform:
translateX(-25px);

}

}

.card{

animation:
fadeCard .25s ease;

}

@keyframes fadeCard{

from{

opacity:0;

transform:
translateY(10px);

}

to{

opacity:1;

transform:
translateY(0);

}

}

.page{
position:absolute;
left:0;
top:0;
width:100%;

transition:
opacity .25s ease,
transform .25s ease;

}

.page-hidden{

opacity:0;
pointer-events:none;

transform:
translateX(20px);

}

.page-visible{

opacity:1;
pointer-events:auto;

transform:
translateX(0);

}
